<div class="wrapper"></div>
<span id="menu__burger" class="menu__burger">
  <span class="menu__burger-line"></span>
</span>
<nav class="menu">
  <ul id="menu__list" class="menu__list">
    <li class="menu__link"><a href="#" id="main-page">Main Page</a></li>
    <li class="menu__link"><a id="action-a" href="#action-a">Action (set A)</a></li>
    <li class="menu__link"><a id="action-b" href="#action-b">Action (set B)</a></li>
    <li class="menu__link"><a id="food" href="#food">Food</a></li>
    <li class="menu__link"><a id="emotions" href="#emotions">Emotions</a></li>
    <li class="menu__link"><a id="animal-a" href="#animal-a">Animal (set A)</a></li>
    <li class="menu__link"><a id="animal-b" href="#animal-b">Animal (set B)</a></li>
    <li class="menu__link"><a id="clothes" href="#clothes">Clothes</a></li>
    <li class="menu__link"><a id="transport" href="#transport">Transport</a></li>
    <li class="menu__link"><a href="#stats">Stats</a></li>
  </ul>
</nav>
<div class="switch-container">
  <input type="checkbox" class="check" id="switch-game">
  <label class="switch" for="switch-game"></label>
</div>

