<h1 class="title-stat">Words stats</h1>
<p class="stats-message">Press on the table head to filter</p>
<button class="stats-button reset-stats" id="reset-stats" data-value="reset">Reset stats</button>
<button class="stats-button repeat-words" id="repeat-words" data-value="repeat">Repeat difficult words</button>
<table class="stats-game" id="stats-game">
  <thead>
  <tr>
    <th data-type="string" class="fixed-col">Word</th>
    <th data-type="string">Category</th>
    <th data-type="string">Translate</th>
    <th data-type="number">Choosen</th>
    <th data-type="number">+</th>
    <th data-type="number">-</th>
    <th data-type="number">%</th>
  </tr>
  </thead>
  <tbody id="table-content">
  </tbody>
</table>